body{
  background-color: aliceblue;
  border: red 3px solid;
  margin: auto;
  background-size: cover;

}

.main{
  background-color: aliceblue;
  border-color: aliceblue;
  margin: auto;
  padding: auto;
  height: 100vh;
  background-size: cover;
}
